<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= resource_name.to_s.humanize %></title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(to bottom right, #5DE0E6, #004AAD); /* Gradient background color for the whole page */
      overflow: hidden; /* Prevent scrollbar */
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .card {
      width: 400px; /* Set width of the card */
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to bottom right, #CDFFD8, #94B9FF); /* Gradient background color for the card */
      border: 1px solid #000; /* Black border */
      border-radius: 5px; /* Rounded corners */
      margin-bottom: 110px;
    }
    .card-title {
      text-align: center;
    }
    .field {
      margin-bottom: 20px;
    }
    .field input[type="password"],
    .field input[type="text"],
    .field input[type="email"] {
      border: 1px solid #000; /* Black border */
      border-radius: 20px; /* Rounded corners */
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    .actions {
      text-align: center;
    }
    .actions input[type="submit"] {
      border: 1px solid #000; /* Black border */
      border-radius: 5px; /* Rounded corners */
      background-color: #000; /* Black background color */
      color: #fff; /* White text color */
      padding: 10px 20px; /* Padding for the button */
      cursor: pointer;
    }
    .back-link {
      text-align: center;
      margin-top: 10px; /* Add margin-top to create space */
    }
</style>

</head>
<body>

<div class="container">
  <div class="card">
    <h2 class="card-title">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <br/>

    <div class="back-link">
      <%= link_to "Back", :back, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
