<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Custom CSS */
    body {
      background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg79o6YuL1NSBuUxeUJJq8st_iZcMqkXJvy47Qx4gVcU7S8HiEa_SdDvk9ZxXt5fUA8cbuHkQbTH60sYzj5mT43vgYlCjUkfXmTG8rLGxWDyzTEcnSclIp-rZKs2MVo5yYeN17mezLFpY8pzmP63YTb94l3RiYxSUlN0Rylq7thurBopYhfNcL26vXcLmY/s320/20240224_153132_0000.png');
      /* Replace 'your_background_image_url.jpg' with the URL of your image */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden; /* Prevent scrollbar */
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      width: 400px; /* Adjust as needed */
      height:730px;
      background: linear-gradient(135deg, #CDFFD8, #94B9FF); /* Gradient background */
      border: none;
      border-radius: 10px;
      padding: 20px; /* Increased padding */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding shadow for a card effect */
      margin-left: 600px;
      margin-bottom: 40px;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px; /* Increased margin */
    }

    .form-group {
      margin-bottom: 20px; /* Increased margin */
    }

    .form-control {
      border-radius: 20px; /* Rounded rectangle */
    }

    .btn {
      padding: 10px 20px; /* Increased padding */
      border-radius: 20px; /* Rounded rectangle */
    }
    .login-links a {
      color: #000; /* Black color for links */
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="title text-center ">Registration</div>
      <div class="user-details">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :firstname %><br />
            <%= f.text_field :firstname, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :lastname %><br />
            <%= f.text_field :lastname, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :company %>
            <%= f.collection_select :company_id, Company.all, :id, :company_name, { prompt: "Select Company" }, class: "form-control" %>
          </div>

          <div class="form-group text-center">
            <%= f.submit "Sign up", data: { turbo: false }, class: "btn btn-dark" %>
          </div>
        <% end %>
        
        <div class="login-links text-center">
        <%= render "devise/shared/links" %>
      </div>
  </div>

  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
