<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flows</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(135deg, #5DE0E6, #004AAD);
      min-height: 100vh;
    }
    .card-container {
      width: 80%;
      margin: 50px auto;
      padding: 20px;
      background: linear-gradient(135deg, #CDFFD8, #94B9FF);
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    .btn {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="card-container">
    <h1>Flows</h1>
    <table>
      <thead>
      <tr>
      <th>User Assigned ID</th>  
      <th>Assigned User IDs</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th> 
    </tr>
    </thead>
    <tbody>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.user_assigned_id %></td>
        <td><%= flow.assigned_user_ids %></td>
        <td><%= flow.start_date %></td>
        <td><%= flow.end_date %></td>
    
            <td>
              <%= link_to user_expense_flow_path(@user_id, @expense_id, flow.id) do %>
                <i class="fas fa-eye"></i>
              <% end %>

              <%= link_to edit_user_expense_flow_path(@user_id, @expense_id, flow.id) do %>
                <i class="fas fa-edit"></i>
              <% end %>

              <%= link_to user_expense_flow_path(@user_id, @expense_id, flow.id), method: :delete, data: { turbo_confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
