<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New User</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
    }

    .form-container {
      width: 80%;
      max-width: 400px;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    .form-field {
      margin-bottom: 15px;
    }

    .form-field label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-field input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-field button {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .form-field button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<div class="form-container">
  <h1>Create New User</h1>

  <%= form_with(model: @user, local: true) do |form| %>
   
    <% if user.errors.any? %> 
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-field">
      <%= form.label :firstname %>
      <%= form.text_field :firstname %>
    </div>

    <div class="form-field">
      <%= form.label :lastname %>
      <%= form.text_field :lastname %>
    </div>

    <div class="form-field">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="form-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="form-field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="field">
    <%= form.label :role %>
    <%= form.collection_select :role_id, Role.where(role_name: ['admin', 'user']), :id, :role_name, prompt: "Select Role" %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.collection_select :company_id, Company.all, :id, :company_name, prompt: "Select Company" %>
  </div>

    <div class="form-field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>

    <div class="form-field">
      <%= form.button 'Create User' %>
    </div>
  <% end %>
</div>

</body>
</html>
