<h1>Editing User</h1>


  <%= form_with(model: @user, local: true, data: { turbo: false }) do |form| %>
     <% if @user.errors.any? %>
      <%= @user.errors.full_messages %>
    <% end %>

    <div>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
    </div>

    <div>
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
    </div>
  
    <div>
    <%= form.submit 'Update'%>
    </div>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
<% end %>
    
    
