<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Users</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<SHA_HASH>" crossorigin="anonymous" />
  
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background: radial-gradient(#5DE0E6, #004AAD);
      margin: 0;
      padding: 20px;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    .card {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 60px;
    }

    .table-container {
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px; /* Add spacing between table and buttons */
     
    }

    th {
      background-color: #007bff;
      color: #fff;
      padding: 12px;
      text-align: left;
      border-radius: 30px; /* Rounded corners */
      text-align: center;
    }

    td {
      padding: 12px;
      text-align: center;
    }

    tbody tr:nth-child(even) {
      background-color: #F6F4F1;
    }

    a.button {
      display: inline-block;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      background-color: #fff;
      color: #007bff;
      border-radius: 20px; 
      border: 2px solid #007bff; /* Add border with blue color */
      transition: background-color 0.3s ease;
    }
    

    a.button:hover {
      background-color: #0056b3;
    }

    .new-business-partner-link {
      display: block;
      margin-top: 20px;
    }

    .pagination-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px; /* Add margin between the table and pagination */
    }
    
    .add-user {
      margin-top: auto; /* Push Add User button to bottom */
    }
    
    .pagination {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
  .page_info {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px; /* Add margin for spacing */
}
    
pagination-links a {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #007bff;
  border-radius: 20px;
  border: 2px solid #007bff;
  transition: background-color 0.3s ease;
  margin: 0 2px;
}
    
.pagination-links a:hover {
  background-color: #007bff;
  color: #fff;
}
{
    text-align: center;
}



  </style>
</head>
<body>

<div class="card">
  <h1>Users</h1>
  <br>

  <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.role.role_name %></td>
            <td><%= user.company.company_name %></td>
            <td>
            <%= link_to user_path(user), class: 'btn btn-primary btn-sm' do %>
              <i class="fas fa-eye"></i> View
            <% end %>
            
            <% if can? :update, user %>
            <% if current_user == user %> <!-- Check if current_user is the same as the user being displayed -->
              <%= link_to edit_user_path(user), class: 'btn btn-secondary btn-sm' do %>
                <i class="fas fa-edit"></i> Edit
              <% end %>
            <% end %>
          <% end %>
            
            <% if can? :destroy, User %>
              <%= link_to user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                <i class="fas fa-trash-alt"></i> Delete
              <% end %>
            <% end %>
            
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <div class="add-user">
      <% if can? :create, User %>
        <%= link_to new_user_path, class: 'button' do %>
          <i class="fas fa-user-plus"></i> Add User
        <% end %>
      <% end %>
    </div>

     <div class="col-md-auto">
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @users %>
        </div>
        <%= will_paginate @users, :container => false %>
      </div>
    </div>
  

</body>
</html>
<style>
.digg_pagination {
      cursor: default;
      text-align: center;
      margin-top: 20px;
    }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px;
    }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd;
    }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1;
    }
    .digg_pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5;
    }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033;
    }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center;
    }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em;
    }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    * html .digg_pagination {
      height: 1%;
    }
    *:first-child + html .digg_pagination {
      overflow: hidden;
    }
</style>