<% if user_signed_in? %>
  Logged in as <%= current_user.email %>
  <br/>
  <br/>
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <br/>
    <br/>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete,  } %>
  <% else %>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br/>
  <%= link_to 'Login', new_user_session_path %>
  <% end %>


<div class="profile-box">
 

  <h1>User Profile</h1>

  
    
  <div class="profile-field">
    <p>First Name:</p>
    <div class="editable-field" contenteditable="true"><%= @user.firstname %></div>
  </div>
  
  <div class="profile-field">
    <p>Last Name:</p>
    <div class="editable-field" contenteditable="true"><%= @user.lastname %></div>
  </div>

  <div class="profile-field">
    <p>Company Unique ID:</p>
    <div class="editable-field" contenteditable="true"><%= @user.company.company_uniqueid %></div>
  </div>

  <div class="profile-field">
    <p>Role:</p>
    <div class="editable-field" contenteditable="true"><%= Role.find(@user.role_id).role_name %></div>
  </div>
  
  <%= link_to 'Show Expenses', user_expenses_url(@user,@expense), class: 'button' %></br>
    
  <%= link_to 'Create New Expense', new_user_expense_path(@user), class: 'action-button' %>
  
  </br>
</div>

</body>
</html>



