<div class="profile-box">

  <h1>User Profile</h1>

  <div class="profile-field">
  <p> Email </p>
    <div class="editable-field" > <%= current_user.email %></div>
  </div> 
    
  <div class="profile-field">
    <p>First Name:</p>
    <div class="editable-field" > <%= @user.firstname %></div>
  </div>
  
  <div class="profile-field">
    <p>Last Name:</p>
    <div class="editable-field" ><%= @user.lastname %></div>
  </div>

  <div class="profile-field">
    <p>Company Unique ID:</p>
    <div class="editable-field" ><%= @user.company.company_uniqueid %></div>
  </div>

  <div class="profile-field">
    <p>Role:</p>
    <div class="editable-field" ><%= Role.find(@user.role_id).role_name %></div>
  </div> 

  <%= link_to 'Change Password', edit_user_registration_path(@user), class: 'button'%>
  <br/>
  <br/>
  <%= link_to 'Edit Pofile',  edit_user_path(@user), class: 'button' %>  

  <% if user_signed_in? %>

  <% else %>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br/>
  <%= link_to 'Login', new_user_session_path %>
  <% end %>

  </br>
</div>

</body>
</html>



