


<div class="profile-box">
 <% if user_signed_in? %>
<div class="user-profile">
    <%= image_tag(current_user.avatar, alt: 'User Avatar', class: 'user-avatar') if user_signed_in? && current_user.avatar.attached? %>
  </div>
  Logged in as <%= current_user.email %>
  <br/>
  <br/>
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <br/>
    <br/>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete,  } %>
  <% else %>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br/>
  <%= link_to 'Login', new_user_session_path %>
  <% end %>

  <h1>User Profile</h1>

  
    
  <div class="profile-field">
    <p>First Name:</p>
    <div class="editable-field" ><%= @user.firstname %></div>
  </div>
  
  <div class="profile-field">
    <p>Last Name:</p>
    <div class="editable-field" ><%= @user.lastname %></div>
  </div>

  <div class="profile-field">
    <p>Company Unique ID:</p>
    <div class="editable-field" ><%= @user.company.company_uniqueid %></div>
  </div>

  <div class="profile-field">
    <p>Role:</p>
    <div class="editable-field" ><%= Role.find(@user.role_id).role_name %></div>
  </div> 



  <%= link_to 'Show Expenses', user_expenses_url(@user,@expense), class: 'button' %></br>
    
  <%= link_to 'Create New Expense', new_user_expense_path(@user), class: 'action-button' %>

  </br>
</div>

</body>
</html>



