<div>
  <h2>Business Partner Information</h2>
  <p><strong>Customer Name:</strong> <%= business_partner.customer_name %></p>
  <p><strong>Customer Code:</strong> <%= business_partner.customer_code %></p>
  <p><strong>Invoice Number:</strong> <%= business_partner.invoice_number %></p>
  <p><strong>Corporate Number:</strong> <%= business_partner.corporate_number %></p>
  <p><strong>address:</strong> <%= business_partner.address %></p>
  <p><strong>postal code:</strong> <%= business_partner.postal_code %></p>
  <p><strong>NUmber:</strong> <%= business_partner.telephone_number %></p>
  <p><strong>Bank name:</strong> <%= business_partner.bank_name %></p>
</div>