<div class="form-container">
  <%= form_with(model: [@vendor_master, @business_partner], local: true, data: { turbo: false }) do |form| %>

    <div class="details-container">
      <div class="form-field">
        <%= form.label :customer_name, "Customer Name*" %>
        <%= form.select :customer_name, @customer_names, {}, class: 'customer-select' %>
        <%= button_tag 'Fetch', type: 'button', class: 'fetch-button', data: { url: fetch_customer_details_vendor_master_business_partners_path(@vendor_master) } %>
      </div>
      
      <%= link_to 'Add Vendor Master', new_vendor_master_path, class: 'button' %>

      <div class="form-field">
        <%= form.label :customer_code, "Customer Code*" %>
        <%= form.text_field :customer_code, value: '' %>
      </div>

      <div class="form-field">
        <%= form.label :corporate_number, "Corporate Number*" %>
        <%= form.number_field :corporate_number, value: nil %>
      </div>

      <div class="form-field">
        <%= form.label :invoice_number, "Invoice Number*" %>
        <%= form.number_field :invoice_number, value: nil %>
      </div>

      <div class="form-field">
        <%= form.label :address, "Address*" %>
        <%= form.text_area :address, value: '' %>
      </div>

      <div class="form-field">
        <%= form.label :postal_code, "Postal Code*" %>
        <%= form.number_field :postal_code, value: nil %>
      </div>

      <div class="form-field">
        <%= form.label :telephone_number, "Telephone Number*" %>
        <%= form.number_field :telephone_number, value: nil %>
      </div>

      <div class="form-field">
        <%= form.label :bank_name, "Bank Name*" %>
        <%= form.text_field :bank_name, value: '' %>
      </div>

      <div class="actions">
        <%= form.submit 'Create Business Partner', class: 'submit-button' %>
      </div>
    </div>

  <% end %>
</div>

<div id="fetched-details"></div>
<script src="app/javascript/business_partner_validation.js"></script>
<script>
  $(document).on('click', '.fetch-button', function() {
    var selectedCustomerName = $('.customer-select').val();
    var baseUrl = $('.fetch-button').data('url');
    var url = baseUrl + '?customer_name=' + selectedCustomerName;

    console.log('Fetching details for:', selectedCustomerName);
    console.log('URL:', url);

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'script',
      success: function(response) {
        console.log('Fetch success:', response);
      },
      error: function(xhr, status, error) {
        console.error('Fetch error:', error);
      }
    });
  });
</script>
