<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Business Partner Details</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<h1>Business Partner Details</h1>

<div class="details-container">
  <div class="detail-box">
    <strong>Customer Name:</strong>
    <p><%= @business_partner.customer_name %></p>
  </div>

  <div class="detail-box">
    <strong>Customer Code:</strong>
    <p><%= @business_partner.customer_code %></p>
  </div>

  <div class="detail-box">
    <strong>Corporate Number:</strong>
    <p><%= @business_partner.corporate_number %></p>
  </div>

  <div class="detail-box">
    <strong>Invoice Number:</strong>
    <p><%= @business_partner.invoice_number %></p>
  </div>

  <div class="detail-box">
    <strong>Address:</strong>
    <p><%= @business_partner.address %></p>
  </div>

  <div class="detail-box">
    <strong>Postal Code:</strong>
    <p><%= @business_partner.postal_code %></p>
  </div>

  <div class="detail-box">
    <strong>Telephone Number:</strong>
    <p><%= @business_partner.telephone_number %></p>
  </div>

  <div class="detail-box">
    <strong>Bank Name:</strong>
    <p><%= @business_partner.bank_name %></p>
  </div>
</div>

<div class="edit-back-links">
<% if can? :update, BusinessPartner%>
  <%= link_to 'Edit', edit_vendor_master_business_partner_path(@vendor_master, @business_partner), class: 'button' %> 
  <% end %>

  <%= link_to 'Back', vendor_master_business_partners_path(@vendor_master), class: 'button' %>

</div>

</body>
</html>
