<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS */
    body {
      background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg79o6YuL1NSBuUxeUJJq8st_iZcMqkXJvy47Qx4gVcU7S8HiEa_SdDvk9ZxXt5fUA8cbuHkQbTH60sYzj5mT43vgYlCjUkfXmTG8rLGxWDyzTEcnSclIp-rZKs2MVo5yYeN17mezLFpY8pzmP63YTb94l3RiYxSUlN0Rylq7thurBopYhfNcL26vXcLmY/s320/20240224_153132_0000.png');
      /* Replace 'your_background_image_url.jpg' with the URL of your image */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden; /* Prevent scrollbar */
    }

    .login-card {
      width: 400px; /* Adjust as needed */
      background: linear-gradient(135deg, #CDFFD8, #94B9FF); /* Gradient background */
      border: none;
      border-radius: 10px;
      padding: 20px; /* Increased padding */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding shadow for a card effect */
      margin-left: 400px;
      margin-bottom: 40px;
    }

    .page-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      width: 100%;
      max-width: 600px; /* Adjust as needed */
    }

    .form-field {
      margin-bottom: 15px;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px; /* Adjusted radius for rounded rectangles */
    }

    .remember-me-field {
      margin-bottom: 15px;
    }

    .login-button {
      width: 100%;
      padding: 15px; /* Increased padding */
      background-color: #000; /* Black background color */
      color: #fff;
      border: none;
      border-radius: 20px; /* Adjusted radius for rounded rectangles */
      cursor: pointer;
    }

    .login-button:hover {
      background-color: #333; /* Darker shade on hover */
    }

    .remember-me-checkbox {
      margin-right: 5px;
    }

    .form-actions {
      text-align: center;
      margin-top: 10px; /* Add margin to separate links from the button */
    }

    .login-links a {
      color: #000; /* Black color for links */
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row justify-content-center">
      <!-- Form Column -->
      <div class="col-md-6">
        <div class="page-container">
          <div class="login-container">
            <div class="card login-card">
              <h2 class="card-title text-center mb-4">Login</h2>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
              <div class="form-field">
                <%= f.label :email %><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-field' %>
              </div>

              <div class="form-field">
                <%= f.label :password %><br>
                <%= f.password_field :password, autocomplete: "current-password", class: 'input-field' %>
              </div>

              <% if resource.errors.any? %>
              <div id="error-explanation">
                <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>

              <% if devise_mapping.rememberable? %>
              <div class="remember-me-field">
                <%= f.check_box :remember_me, class: 'remember-me-checkbox' %>
                <%= f.label :remember_me, class: 'remember-me-label' %>
              </div>
              <% end %>

              <div class="form-actions">
                <%= f.submit "Log in", data: { turbo: false }, class: 'login-button' %>
              </div>
              <% end %>

              <div class="login-links text-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      var notices = document.querySelectorAll('.notice');
      notices.forEach(function(notice) {
        notice.remove();
      });

      var alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
        alert.remove();
      });

      var info = document.querySelectorAll('.info');
      info.forEach(function(info) {
        info.remove();
      });
    }, 5000); // 5000 milliseconds = 5 seconds
  });
</script>

</body>

</html>
