<!-- app/views/expenses/_form.html.erb -->
<%= form_with(model: [@user, @expense], url: user_expenses_path) do |form| %>
  <div class="field">
    <%= form.label :date_of_application %>
    <%= form.date_field :date_of_application %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select Category' } %>
  </div>

  <div class="field">
    <%= form.label :expense_date %>
    <%= form.date_field :expense_date %>
  </div>

  <div class="field">
    <%= form.label :business_partner %>
    <%= form.collection_select :business_partner_id, BusinessPartner.all, :id, :customer_name, { prompt: 'Select Business Partner' } %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :number_of_people %>
    <%= form.number_field :number_of_people %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
