<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Index</title>
</head>
<body class="expense-index">

  <h1>Expense Index</h1>

 
  <table>
    <thead>
      <tr>
      <th> Application Number </th>
        <th>Amount</th>
        <th>Expense Date</th>
        <th>User</th>
        <th>Expense Type</th> 
        <th> Category Type </th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.application_number %>
          <td><%= expense.amount %></td>
          <td><%= expense.expense_date.strftime('%Y-%m-%d') %></td>
          <td><%= "#{expense.user.firstname} #{expense.user.lastname}" %></td>
          <td><%= expense.category.category_type %></td>
          <td><%= expense.subcategory.category_type if expense.subcategory.present? %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Expense', new_user_expense_path(user_id: current_user.id), class: 'button' %>



</body>
</html>
