<!-- app/views/expenses/show.html.erb -->

<h1>Expense Details</h1>
<p><strong>Application number:</strong> <%= @expense.application_number %></p>
<p><strong>Amount:</strong> <%= @expense.amount %></p>
<p><strong>Expense Date:</strong> <%= @expense.expense_date %></p>
<p><strong> Receipt: </strong> <%= image_tag "receipt.jpeg" %> </br>
<!-- Add more details as needed -->

<%= link_to 'Create New Expense', new_user_expense_path(@user), class: 'action-button' %>
<%= link_to 'Back to Expenses', user_expenses_path(@user) %>
