<% if current_user %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "SmartFlow", root_path, class: :"nav-link"%>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Users", users_path, class: :"nav-link"%>
        </li>
       <li class="nav-item">
           <%= link_to "Business Partners", vendor_master_business_partners_path(vendor_master_id: 1), class: "nav-link" %>
      </ul>
      <% end %>
      <% if current_user %>
  <div class="user-profile">
    <%= link_to user_path(current_user), class: "nav-link user-link" do %>
      <div class="user-initials">
        <%= current_user.firstname.first + current_user.lastname.first %>
      </div>
      
<%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>

  <%= image_tag("LOGOUT.png", style: "vertical-align: middle; margin-right: 5px; height: 20px; width: 20px;") %>

  Logout

<% end %>

      <% end %>
  </div>
<% end %>



    </div>
  </div>
</nav>